@import "tailwindcss";

@theme {
    --animate-shimmer: shimmer 1.5s infinite;
   
    @keyframes shimmer {
      100% {
        transform: translateX(100%);
      }
    }
  }
  body{
    background-color: black;
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }